html {
	font-family: sans-serif;
	overflow-x: hidden;
}

body {
	display: flex;
	justify-content: center;
	background-color: rgb(77, 67, 67);
	text-align: center;
	color: white;
}

div,
button {
	margin-top: 30px;
}
